body, header, a, img, span, nav, main, aside, footer, div, p, article, section{
	margin: 0;
	padding: 0;
} 
.fa{
	color: #1D0DCF;
}
.fa-arrow-right{
	color: #FFF;
}
.field{
	background-color: rgba(242, 252, 37, 0.6);
}
body { 
  background: url('../img/village.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.board{
	background: rgba(192, 179, 169, 0.3); 
}
.arena{
	border:5px solid black;
}
html {
    font-size: 16px;
}